body{
  background-color: #3f5f7f;
}

header{
  background-image: url("circuito.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h1{
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  color: red;
  padding: 20px;
  text-shadow: 1px 1px 20px white;
}

header h1:hover{
  cursor: pointer;
}

header h1:active{
  animation: animar 1s ease-in-out alternate infinite;
}

nav ul{
  background-image: url("textura-madeira.jpg");
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul li{
  transition: transform 0.2s ease;
  color: white;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  padding: 10px 40px 10px 10px;
  display: inline-block;
}

nav ul li:hover{
  text-shadow: 2px 2px 8px white;
  transform: scale(1.2);
  cursor: pointer;
}

nav ul li:active{
  transform: scale(1);
}

header{
  margin-bottom:5px;
  background-color: blue;
}

main{
  display: flex;
}
main>*{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:40px;
  box-sizing: border-box;
}
main>:not(:last-child){
  border-right: 5px solid #3f5f7f;
}

#clicker{
  background-image: url("metal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#clicker p{
  margin-bottom: 10px;
}

#central{
  position: relative;
  background-image: url("pedras.jpg");
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px lightgray;
}

#pc{
  width: 300px;
  transition: transform 0.2s ease;
  margin:0 auto 30px;
}

#pc:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#pc:active{
  transform: scale(0.9);
}

#comprarPc{
  border: 3px solid black;
  text-align: center;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  background-color: yellow;
  padding: 10px;
}

#comprarPc:hover{
  background-color: lightgreen;
  border: 3px solid red;
  cursor: pointer;
}

#dinheiros{
  text-align: center;
  font-family: "Lucida Console", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 2px 2px 10px lightgreen;
}

#dinheiro{
  font-family: "Times New Roman", sans-serif;
  font-size: 45px;
  text-shadow: none;
  display: block;
}

#dinheiros img{
  width: 20px;
}

#central h2{
  margin-bottom:30px;
}

#upgrades{
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px lightgray;
  list-style: none;
  font-size: 20px;
  font-family: 'Lucida Console', sans-serif;
  padding: 0;
}

#upgrades li{
  padding: 20px;
  border: 1px solid red;
  background-color: red;
  border-radius: 10px;
  text-shadow: 2px 2px 10px black;
  transition: transform 0.2s ease;
}
#upgrades li:not(:first-child){
  margin-top: 20px;
}

#upgrades li:hover{
  transform: scale(1.1);
  cursor: pointer;
}

@keyframes animar {
  from{
    transform: rotateY(0deg) scale(1);
  }
  to{
    transform: rotateY(720deg) scale(3.5);
  }
}

#game{
  position: relative;
  margin: auto;
  border: 1px solid red;
  background-color: rgba(255, 255, 255, 0.8);
}

#trabalho{
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.5);
  width: 300px;
  height: 300px;
}

#trabalhoFeito{
  font-size: 25px;
  margin-top: 30px;
  min-width: 100px;
  min-height: 40px;
}

#nomeDoTrabalho{
  color: red;
  font-size: 35px;
  font-weight: bold;
}

#comprar-pcs{
  background-color: white;
}

*{
  margin: 0;
}
